<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Welcome To Our Exam System!</div>
    <div class="masthead-heading text-uppercase">Your path to success starts here</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
  </div>
</header>
<!-- Services -->
<section class="page-section bg" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Services</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="bi bi-pen fs-1"></i>
        </span>
        <h4 class="my-3">Online Exams</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
          quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-person-workspace fs-1"></i>
        <h4 class="my-3">online Courses</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
          quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
          <i class="fbi bi-database-lock fs-1"></i>
        <h4 class="my-3">Data Secured</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
          quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>
<!-- About -->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/1.jpg" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2020-2021</h4>
            <h4 class="subheading">Our Humble Beginnings</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
              sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
              dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/2.jpg" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>March 2022</h4>
            <h4 class="subheading">An Agency is Born</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
              sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
              dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/3.jpg" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>March 2023</h4>
            <h4 class="subheading">Transition to Full Service</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
              sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
              dolore laudantium consectetur!</p>
          </div>
        </div>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Team -->
<section class="page-section bg" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/images/avatar6.png" alt="..." />
          <h4>Mohamed Hamdi</h4>
          <p class="text-muted">Web Developer</p>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mohamed Hamdi Twitter Profile"><i
              class="bi bi-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mohamed Hamdi Facebook Profile"><i
              class="bi bi-facebook"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mohamed Hamdi LinkedIn Profile"><i
              class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/images/admin.webp" alt="..." />
          <h4>Mahmoud Saad</h4>
          <p class="text-muted">Wep Developer</p>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mahmoud Saad Twitter Profile"><i
              class="bi bi-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mahmoud Saad Facebook Profile"><i
              class="bi bi-facebook"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mahmoud Saad LinkedIn Profile"><i
              class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/images/avatar4.png" alt="..." />
          <h4>Mohamed Gamal</h4>
          <p class="text-muted">Web Developer</p>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mohamed Gamal Twitter Profile"><i
              class="bi bi-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mohamed Gamal Facebook Profile"><i
              class="bi bi-facebook"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Mohamed Gamal LinkedIn Profile"><i
              class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam
          veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>